.div10 {
    width:150px;
    height: 130px;
    background-color: crimson;
    border: 1px solid violet;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin: 10px;

}
