.div2{
    width: auto;
    height: 130px;
    border: 1px solid orange;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin: 10px;
    background-color: yellow;
}




